<a href="https://colab.research.google.com/github/yunisroni/ilmudataproject/blob/main/FS_DS1_RF.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install ucimlrepo

Collecting ucimlrepo
  Downloading ucimlrepo-0.0.7-py3-none-any.whl.metadata (5.5 kB)
Requirement already satisfied: pandas>=1.0.0 in /usr/local/lib/python3.10/dist-packages (from ucimlrepo) (2.2.2)
Requirement already satisfied: certifi>=2020.12.5 in /usr/local/lib/python3.10/dist-packages (from ucimlrepo) (2024.8.30)
Requirement already satisfied: numpy>=1.22.4 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.0.0->ucimlrepo) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.0.0->ucimlrepo) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.0.0->ucimlrepo) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.0.0->ucimlrepo) (2024.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas>=1.0.0->ucimlrepo) (1.16.0)
Downloading ucimlrepo-0.0.7-py3-none-any.whl (8.0 kB)
Installing collected packages: ucimlrepo
Successfully installed ucimlrepo-0.0.7

In [ ]:
# Dataset https://archive.ics.uci.edu/dataset/144/statlog+german+credit+data

from ucimlrepo import fetch_ucirepo

# fetch dataset
statlog_german_credit_data = fetch_ucirepo(id=144)

# data (as pandas dataframes)
X = statlog_german_credit_data.data.features
y = statlog_german_credit_data.data.targets

# metadata
print(statlog_german_credit_data.metadata)

# variable information
print(statlog_german_credit_data.variables)

{'uci_id': 144, 'name': 'Statlog (German Credit Data)', 'repository_url': 'https://archive.ics.uci.edu/dataset/144/statlog+german+credit+data', 'data_url': 'https://archive.ics.uci.edu/static/public/144/data.csv', 'abstract': 'This dataset classifies people described by a set of attributes as good or bad credit risks. Comes in two formats (one all numeric). Also comes with a cost matrix', 'area': 'Social Science', 'tasks': ['Classification'], 'characteristics': ['Multivariate'], 'num_instances': 1000, 'num_features': 20, 'feature_types': ['Categorical', 'Integer'], 'demographics': ['Other', 'Marital Status', 'Age', 'Occupation'], 'target_col': ['class'], 'index_col': None, 'has_missing_values': 'no', 'missing_values_symbol': None, 'year_of_dataset_creation': 1994, 'last_updated': 'Thu Aug 10 2023', 'dataset_doi': '10.24432/C5NC77', 'creators': ['Hans Hofmann'], 'intro_paper': None, 'additional_info': {'summary': 'Two datasets are provided.  the original dataset, in the form provided by Prof. Hofmann, contains categorical/symbolic attributes and is in the file "german.data".   \r\n \r\nFor algorithms that need numerical attributes, Strathclyde University produced the file "german.data-numeric".  This file has been edited and several indicator variables added to make it suitable for algorithms which cannot cope with categorical variables.   Several attributes that are ordered categorical (such as attribute 17) have been coded as integer.    This was the form used by StatLog.\r\n\r\nThis dataset requires use of a cost matrix (see below)\r\n\r\n ..... 1        2\r\n----------------------------\r\n  1   0        1\r\n-----------------------\r\n  2   5        0\r\n\r\n(1 = Good,  2 = Bad)\r\n\r\nThe rows represent the actual classification and the columns the predicted classification.\r\n\r\nIt is worse to class a customer as good when they are bad (5), than it is to class a customer as bad when they are good (1).\r\n', 'purpose': None, 'funded_by': None, 'instances_represent': None, 'recommended_data_splits': None, 'sensitive_data': None, 'preprocessing_description': None, 'variable_info': 'Attribute 1:  (qualitative)      \r\n Status of existing checking account\r\n             A11 :      ... <    0 DM\r\n\t       A12 : 0 <= ... <  200 DM\r\n\t       A13 :      ... >= 200 DM / salary assignments for at least 1 year\r\n               A14 : no checking account\r\n\r\nAttribute 2:  (numerical)\r\n\t      Duration in month\r\n\r\nAttribute 3:  (qualitative)\r\n\t      Credit history\r\n\t      A30 : no credits taken/ all credits paid back duly\r\n              A31 : all credits at this bank paid back duly\r\n\t      A32 : existing credits paid back duly till now\r\n              A33 : delay in paying off in the past\r\n\t      A34 : critical account/  other credits existing (not at this bank)\r\n\r\nAttribute 4:  (qualitative)\r\n\t      Purpose\r\n\t      A40 : car (new)\r\n\t      A41 : car (used)\r\n\t      A42 : furniture/equipment\r\n\t      A43 : radio/television\r\n\t      A44 : domestic appliances\r\n\t      A45 : repairs\r\n\t      A46 : education\r\n\t      A47 : (vacation - does not exist?)\r\n\t      A48 : retraining\r\n\t      A49 : business\r\n\t      A410 : others\r\n\r\nAttribute 5:  (numerical)\r\n\t      Credit amount\r\n\r\nAttibute 6:  (qualitative)\r\n\t      Savings account/bonds\r\n\t      A61 :          ... <  100 DM\r\n\t      A62 :   100 <= ... <  500 DM\r\n\t      A63 :   500 <= ... < 1000 DM\r\n\t      A64 :          .. >= 1000 DM\r\n              A65 :   unknown/ no savings account\r\n\r\nAttribute 7:  (qualitative)\r\n\t      Present employment since\r\n\t      A71 : unemployed\r\n\t      A72 :       ... < 1 year\r\n\t      A73 : 1  <= ... < 4 years  \r\n\t      A74 : 4  <= ... < 7 years\r\n\t      A75 :       .. >= 7 years\r\n\r\nAttribute 8:  (numerical)\r\n\t      Installment rate in percentage of disposable income\r\n\r\nAttribute 9:  (qualitative)\r\n\t      Personal status and sex\r\n\t      A91 : male   : divorced/separated\r\n\t      A92 : female : divorced/separated/married\r\n              A93 : male   : single\r\n\t      A94 : male   : married/widowed\r\n\t      A95 : female : single\r\n\r\nAttribute 10: (qualitative)\r\n\t      Other debtors / guarantors\r\n\t      A101 : none\r\n\t      A102 : co-applicant\r\n\t      A103 : guarantor\r\n\r\nAttribute 11: (numerical)\r\n\t      Present residence since\r\n\r\nAttribute 12: (qualitative)\r\n\t      Property\r\n\t      A121 : real estate\r\n\t      A122 : if not A121 : building society savings agreement/ life insurance\r\n              A123 : if not A121/A122 : car or other, not in attribute 6\r\n\t      A124 : unknown / no property\r\n\r\nAttribute 13: (numerical)\r\n\t      Age in years\r\n\r\nAttribute 14: (qualitative)\r\n\t      Other installment plans \r\n\t      A141 : bank\r\n\t      A142 : stores\r\n\t      A143 : none\r\n\r\nAttribute 15: (qualitative)\r\n\t      Housing\r\n\t      A151 : rent\r\n\t      A152 : own\r\n\t      A153 : for free\r\n\r\nAttribute 16: (numerical)\r\n              Number of existing credits at this bank\r\n\r\nAttribute 17: (qualitative)\r\n\t      Job\r\n\t      A171 : unemployed/ unskilled  - non-resident\r\n\t      A172 : unskilled - resident\r\n\t      A173 : skilled employee / official\r\n\t      A174 : management/ self-employed/\r\n\t\t     highly qualified employee/ officer\r\n\r\nAttribute 18: (numerical)\r\n\t      Number of people being liable to provide maintenance for\r\n\r\nAttribute 19: (qualitative)\r\n\t      Telephone\r\n\t      A191 : none\r\n\t      A192 : yes, registered under the customers name\r\n\r\nAttribute 20: (qualitative)\r\n\t      foreign worker\r\n\t      A201 : yes\r\n\t      A202 : no\r\n', 'citation': None}}
           name     role         type     demographic  \
0    Attribute1  Feature  Categorical            None
1    Attribute2  Feature      Integer            None
2    Attribute3  Feature  Categorical            None
3    Attribute4  Feature  Categorical            None
4    Attribute5  Feature      Integer            None
5    Attribute6  Feature  Categorical            None
6    Attribute7  Feature  Categorical           Other
7    Attribute8  Feature      Integer            None
8    Attribute9  Feature  Categorical  Marital Status
9   Attribute10  Feature  Categorical            None
10  Attribute11  Feature      Integer            None
11  Attribute12  Feature  Categorical            None
12  Attribute13  Feature      Integer             Age
13  Attribute14  Feature  Categorical            None
14  Attribute15  Feature  Categorical           Other
15  Attribute16  Feature      Integer            None
16  Attribute17  Feature  Categorical      Occupation
17  Attribute18  Feature      Integer            None
18  Attribute19  Feature       Binary            None
19  Attribute20  Feature       Binary           Other
20        class   Target       Binary            None

                                          description   units missing_values
0                 Status of existing checking account    None             no
1                                            Duration  months             no
2                                      Credit history    None             no
3                                             Purpose    None             no
4                                       Credit amount    None             no
5                               Savings account/bonds    None             no
6                            Present employment since    None             no
7   Installment rate in percentage of disposable i...    None             no
8                             Personal status and sex    None             no
9                          Other debtors / guarantors    None             no
10                            Present residence since    None             no
11                                           Property    None             no
12                                                Age   years             no
13                            Other installment plans    None             no
14                                            Housing    None             no
15            Number of existing credits at this bank    None             no
16                                                Job    None             no
17  Number of people being liable to provide maint...    None             no
18                                          Telephone    None             no
19                                     foreign worker    None             no
20                                  1 = Good, 2 = Bad    None             no

In [ ]:
import pandas as pd

# Create data.frame
df = pd.concat([X, y], axis=1)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 21 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Attribute1   1000 non-null   object
 1   Attribute2   1000 non-null   int64
 2   Attribute3   1000 non-null   object
 3   Attribute4   1000 non-null   object
 4   Attribute5   1000 non-null   int64
 5   Attribute6   1000 non-null   object
 6   Attribute7   1000 non-null   object
 7   Attribute8   1000 non-null   int64
 8   Attribute9   1000 non-null   object
 9   Attribute10  1000 non-null   object
 10  Attribute11  1000 non-null   int64
 11  Attribute12  1000 non-null   object
 12  Attribute13  1000 non-null   int64
 13  Attribute14  1000 non-null   object
 14  Attribute15  1000 non-null   object
 15  Attribute16  1000 non-null   int64
 16  Attribute17  1000 non-null   object
 17  Attribute18  1000 non-null   int64
 18  Attribute19  1000 non-null   object
 19  Attribute20  1000 non-null   object
 20  class        1000 non-null   int64
dtypes: int64(8), object(13)
memory usage: 164.2+ KB

In [ ]:
# Identifikasi kategori variabel
categorical_cols = df.select_dtypes(include=['object']).columns

# Tampilkan kategori dan jumlahnya
for col in categorical_cols:
  print(f"Variable: {col}")
  print(df[col].value_counts())
  print("-" * 20)

Variable: Attribute1
Attribute1
A14    394
A11    274
A12    269
A13     63
Name: count, dtype: int64
--------------------
Variable: Attribute3
Attribute3
A32    530
A34    293
A33     88
A31     49
A30     40
Name: count, dtype: int64
--------------------
Variable: Attribute4
Attribute4
A43     280
A40     234
A42     181
A41     103
A49      97
A46      50
A45      22
A44      12
A410     12
A48       9
Name: count, dtype: int64
--------------------
Variable: Attribute6
Attribute6
A61    603
A65    183
A62    103
A63     63
A64     48
Name: count, dtype: int64
--------------------
Variable: Attribute7
Attribute7
A73    339
A75    253
A74    174
A72    172
A71     62
Name: count, dtype: int64
--------------------
Variable: Attribute9
Attribute9
A93    548
A92    310
A94     92
A91     50
Name: count, dtype: int64
--------------------
Variable: Attribute10
Attribute10
A101    907
A103     52
A102     41
Name: count, dtype: int64
--------------------
Variable: Attribute12
Attribute12
A123    332
A121    282
A122    232
A124    154
Name: count, dtype: int64
--------------------
Variable: Attribute14
Attribute14
A143    814
A141    139
A142     47
Name: count, dtype: int64
--------------------
Variable: Attribute15
Attribute15
A152    713
A151    179
A153    108
Name: count, dtype: int64
--------------------
Variable: Attribute17
Attribute17
A173    630
A172    200
A174    148
A171     22
Name: count, dtype: int64
--------------------
Variable: Attribute19
Attribute19
A191    596
A192    404
Name: count, dtype: int64
--------------------
Variable: Attribute20
Attribute20
A201    963
A202     37
Name: count, dtype: int64
--------------------

In [ ]:
from sklearn.preprocessing import LabelEncoder

# Setiap kolom kategorikal dirubah menjadi numerik dengan label encoding
label_encoders = {}
for column in df.columns:
    # Periksa variabel dengan type object
    if df[column].dtype == 'object':
        le = LabelEncoder()
        df[column] = le.fit_transform(df[column])
        label_encoders[column] = le

# Tampikan data.frame
df.head()

,Attribute1,Attribute2,Attribute3,Attribute4,Attribute5,Attribute6,Attribute7,Attribute8,Attribute9,Attribute10,...,Attribute12,Attribute13,Attribute14,Attribute15,Attribute16,Attribute17,Attribute18,Attribute19,Attribute20,class
0,0,6,4,4,1169,4,4,4,2,0,...,0,67,2,1,2,2,1,1,0,1
1,1,48,2,4,5951,0,2,2,1,0,...,0,22,2,1,1,2,1,0,0,2
2,3,12,4,7,2096,0,3,2,2,0,...,0,49,2,1,1,1,2,0,0,1
3,0,42,2,3,7882,0,3,2,2,2,...,1,45,2,2,1,2,2,0,0,1
4,0,24,3,0,4870,0,2,3,2,0,...,3,53,2,2,2,2,2,0,0,2

In [ ]:
# Hitung coefficient of variation dari df

import numpy as np

# Hitung deviasi standar untuk setiap kolom
std_dev = df.std()

# Hitung rata-rata untuk setiap kolom
mean = df.mean()

# Hitung koefisien variasi
coefficient_of_variation = (std_dev / mean) * 100

coefficient_of_variation

Attribute1      79.748746
Attribute2      57.689396
Attribute3      42.558728
Attribute4      83.591757
Attribute5      86.289032
Attribute6     142.988472
Attribute7      50.683987
Attribute8      37.629152
Attribute9      42.097507
Attribute10    329.452544
Attribute11     38.795005
Attribute12     77.334978
Attribute13     32.002106
Attribute14     42.125437
Attribute15     57.186632
Attribute16     41.055755
Attribute17     34.328464
Attribute18     31.349417
Attribute19    121.520543
Attribute20    510.422179
class           35.268221
dtype: float64

In [ ]:
# Seleksi fitur dalam df dengan chi-squared

from sklearn.feature_selection import chi2

# Pisahkan fitur (X) dan target (y)
X = df.drop('class', axis=1)  # mengambil semua kolom kecuali variabel class
y = df['class']

# Hitung statistik chi-squared dan p-value
chi2_scores, p_values = chi2(X, y)

# Buat DataFrame untuk menyimpan hasil
results = pd.DataFrame({'Feature': X.columns, 'Chi2 Score': chi2_scores, 'P-value': p_values})

# Urutkan berdasarkan Chi2 Score (dari yang terbesar)
results = results.sort_values('Chi2 Score', ascending=False)

# Tampilkan hasil
print(results)

# Simpan fitur dengan skor Chi2 di atas threshold
threshold = 10  # nilai ambang batas
selected_features_chi = results[results['Chi2 Score'] > threshold]['Feature'].tolist()

print(f"\nFitur yang terpilih menggunakan chi-squared: {selected_features_chi}")

        Feature    Chi2 Score       P-value
4    Attribute5  58262.490007  0.000000e+00
1    Attribute2    321.030795  8.637197e-72
0    Attribute1    123.333665  1.178641e-28
5    Attribute6     72.269985  1.876804e-17
12  Attribute13     30.200309  3.896473e-08
2    Attribute3     24.103752  9.128229e-07
11  Attribute12     16.501718  4.860601e-05
6    Attribute7      8.232742  4.114132e-03
19  Attribute20      6.487773  1.086189e-02
13  Attribute14      3.582800  5.838066e-02
8    Attribute9      2.315724  1.280717e-01
7    Attribute8      2.204619  1.375979e-01
9   Attribute10      0.993432  3.189050e-01
18  Attribute19      0.792551  3.733300e-01
15  Attribute16      0.495516  4.814772e-01
16  Attribute17      0.240196  6.240645e-01
14  Attribute15      0.113230  7.364966e-01
3    Attribute4      0.005246  9.422614e-01
10  Attribute11      0.003766  9.510663e-01
17  Attribute18      0.001031  9.743885e-01

Fitur yang terpilih menggunakan chi-squared: ['Attribute5', 'Attribute2', 'Attribute1', 'Attribute6', 'Attribute13', 'Attribute3', 'Attribute12']

In [ ]:
# Seleksi fitur dalam df dengan Random Forest

from sklearn.ensemble import RandomForestClassifier
from sklearn.feature_selection import SelectFromModel

# Pisahkan fitur (X) dan target (y)
X = df.drop('class', axis=1)  # mengambil semua kolom kecuali variabel class
y = df['class']

# Inisialisasi model Random Forest
rf_model = RandomForestClassifier(n_estimators=100, random_state=42)

# Latih model Random Forest
rf_model.fit(X, y)

# Seleksi fitur menggunakan SelectFromModel
selector = SelectFromModel(estimator=rf_model, threshold='median') # threshold dengan median
selector.fit(X, y)

# Simpan fitur-fitur yang terpilih
selected_features_rf = X.columns[selector.get_support()]

print(f"Fitur yang terpilih menggunakan Random Forest: {selected_features_rf.tolist()}")

Fitur yang terpilih menggunakan Random Forest: ['Attribute1', 'Attribute2', 'Attribute3', 'Attribute4', 'Attribute5', 'Attribute6', 'Attribute7', 'Attribute11', 'Attribute12', 'Attribute13']

In [ ]:
# Klasifikasi dengan model XGBoost untuk selected_features_rf

from sklearn.model_selection import train_test_split
from xgboost import XGBClassifier
from sklearn.metrics import accuracy_score, classification_report

# Mengambil Fitur dari RF
selected_features = selected_features_rf
X_selected = X[selected_features]

# Ubah nilai y menjadi 0 dan 1
y = np.where(y == 1, 0, 1)

# Bagi data menjadi data latih dan data uji
X_train, X_test, y_train, y_test = train_test_split(X_selected, y, test_size=0.2, random_state=42)

# Inisialisasi model XGBoost
model = XGBClassifier()

# Latih model dengan training data
model.fit(X_train, y_train)

# Lakukan prediksi dengan test data
y_pred = model.predict(X_test)

# Evaluasi performa model
# accuracy = accuracy_score(y_test, y_pred)
print("Hasil Cofusion Matrix RF dan XGB:")
print(classification_report(y_test, y_pred))

Hasil Cofusion Matrix RF dan XGB:
              precision    recall  f1-score   support

           0       0.82      0.91      0.86       141
           1       0.70      0.51      0.59        59

    accuracy                           0.79       200
   macro avg       0.76      0.71      0.72       200
weighted avg       0.78      0.79      0.78       200

In [ ]:
# Klasifikasi dengan model Naive Bayes untuk selected_features_rf

from sklearn.naive_bayes import GaussianNB

# Mengambil Fitur dari RF
selected_features = selected_features_rf
X_selected = X[selected_features]

# Bagi data menjadi data latih dan data uji
X_train, X_test, y_train, y_test = train_test_split(X_selected, y, test_size=0.2, random_state=42)

# Inisialisasi model Naive Bayes
model = GaussianNB()

# Latih model dengan training data
model.fit(X_train, y_train)

# Lakukan prediksi dengan test data
y_pred = model.predict(X_test)

# Evaluasi performa model
# accuracy = accuracy_score(y_test, y_pred)
print("Hasil Cofusion Matrix RF dan NB:")
print(classification_report(y_test, y_pred))

Hasil Cofusion Matrix RF dan NB:
              precision    recall  f1-score   support

           0       0.78      0.89      0.83       141
           1       0.62      0.41      0.49        59

    accuracy                           0.75       200
   macro avg       0.70      0.65      0.66       200
weighted avg       0.73      0.75      0.73       200